imports:
- path: datashare-vm.jinja

resources:
- name: datashare-vm
  type: datashare-vm.jinja
  properties:
    input_adminEmail: default-user@example.com
    zone: us-central1-a
    useRuntimeConfigWaiter: True
    deployApiToGke: True
    machineType: e2-small
    gceServiceAccount: gcp-financial-services@cloud-launcher-verifier-prd.iam.gserviceaccount.com
    bootDiskType: pd-ssd
    bootDiskSizeGb: 10
    input_oauthClientId: XYZ
    input_dataProducers: test@example.com
    input_uiDomainName: datashare.com
    input_apiDomainName: api.datashare.com
    input_cloudFunctionRegion: us-central1
    serviceAccounts:
      - email: gcp-financial-services@cloud-launcher-verifier-prd.iam.gserviceaccount.com
        scopes:
          - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          - 'https://www.googleapis.com/auth/devstorage.read_only'
          - 'https://www.googleapis.com/auth/logging.write'
          - 'https://www.googleapis.com/auth/monitoring.write'
          - 'https://www.googleapis.com/auth/cloud-platform'
          - 'https://www.googleapis.com/auth/cloudruntimeconfig'
